button[data-create] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  border: none;
  color: white;
}

button[data-destroy] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  border: none;
  color: white;
}

#num-input {
  border-radius: 8px;
  padding: 8px 16px;
  width: 150px;
  height: 40px;

  border-width: 1px;
  border-style: solid;
  border-color: #808080;
  outline: none;
}

#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  align-items: center;
  padding: 32px;
  background: #f6f6fe;
  border-radius: 8px;

  width: 486px;
}
